# Ollama LLM:
OLLAMA_BASE_URL=http://localhost:11434
OLLAMA_MODEL=qwen3.5:4b

# Arbeitsagentur Jobsuche API:
JOBSUCHE_API_KEY=jobboerse-jobsuche # (public available key (no secret))
JOBSUCHE_API_URL=https://rest.arbeitsagentur.de/jobboerse/jobsuche-service

# MCP server
MCP_HOST=127.0.0.1
MCP_PORT=8000
MCP_PATH=/mcp
